.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  height: var(--height-header);
  width: calc(100% - var(--width-sidebar));
  margin-left: var(--width-sidebar);
  padding: 0 var(--padding-content);
  background-color: var(--blue-1);
  color: var(--blue-4);
}

.scroll {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.historyBtn {
  margin-right: 20px;
  .icon {
    font-size: 20px;
  }
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  background-color: var(--blue-2);
  border-radius: 20px;
  padding: 10px;
  width: 440px;
  max-width: 440px;
  height: 40px;
  .icon {
    font-size: 20px;
    opacity: 0.6;
  }
  input {
    height: 25px;
    background-color: var(--blue-2);
    color: var(--blue-4);
    font-size: 15px;
    border: none;
    margin: 0 5px;
    padding: 2px 5px;
    width: 100%;
    outline: none;
  }
}

.btn {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  --width-btn: 40px;
  width: var(--width-btn);
  height: var(--width-btn);
  font-size: 20px;
  background-color: var(--blue-2);
  margin-right: 12px;
  cursor: pointer;
}

.avatar {
  img {
    --width-btn: 40px;
    width: var(--width-btn);
    height: var(--width-btn);
    border-radius: 100%;
    cursor: pointer;
  }
}
