.content {
  margin: 50px 0;
  max-height: 500px;
  padding: 20px 40px;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: var(--white);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 10px;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--black);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  color: var(--black);
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
